
toob-button {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: "[app] auto / [app] auto";

    .background {
        display: none;
    }

    .body {
        position: relative;
        grid-area: "app";
        display: grid;
        width: 100%;
        justify-self: center;
        font-size: 12px;
        font-family: Montserrat, bold;
        background-color: rgba(24, 25, 26, 1);
        grid-template-rows: 75px 45px auto 75px;
        grid-template-columns: 110px auto;
        
        .background {
            z-index: -1;
            display: none;
        }

        .settings {
            display: flex;
            justify-content: flex-end;
            grid-column: 1 / span 2;
            padding: 5px;
            user-select: none;
        }

        .header {
            user-select: none;
            overflow: hidden;
            width: 92px;

            .icon {
                float: left;
                margin-left: 18px;
                margin-right: -13px;
                height: 100%;
                width: calc(100% - 18px);
                background-image: url(./img/Logo_250.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: width 0.1s;
            }

            .title {
                display: none; 
            }
        }
    }

    .footer {
        display: none;
    }

    @media only screen and (min-width: 768px) {
        background: linear-gradient(to bottom, #2D1313 150px, #131313 40%);
        grid-template: "75px [app] auto 30px 45px / 100px [app] auto 100px";
        
        .background {
            display: block;
            z-index: 0;
            position: absolute;
            box-sizing: border-box;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            opacity: 0.7;
            background-image: url(https://source.unsplash.com/daily?nature,mountain);
            background-size: cover;
            background-position: center center;
            filter: blur(4px) grayscale(60%);
        }

        .body {
            z-index: 1;
            max-width: 1150px;
            grid-template-columns: 200px auto;
            box-shadow: 0px 15px 40px -3px rgba(0, 0, 0, 0.1);
            border: solid 0.5px rgba(255, 255, 255, 0.1);
            background-color: rgba(24, 25, 26, 0.97);

            .background {
                display: block;
                position: absolute;
                background-image: url(./img/Background_cropped.png);	
                background-repeat: no-repeat;	
                background-position: calc(0% - 200px) calc(100% + 200px);	
                background-size: contain;
                width: 100%;
                height: 100%; 
                backface-visibility: hidden;
                perspective: 1000;
                transform: translate3d(0,0,0);
            }

            .header {
                width: auto;

                .icon {
                    width: 25%;
                }

                .title {
                    display: block;
                    float: left;
                    height: 70px;
                    width: 70%;
                    text-align: center;
                    line-height: 70px;
                    font-size: 33px;
                    font-family: Dhurjati, sans-serif;
                    color: #ffffff;   
                }
            }
        }

        .footer {
            grid-area: 3 / 2 / span 1 / span 1;
            display: block;
            max-width: 1150px;
            width: 100%;
            justify-self: center;
            text-align: right;
            padding: 3px;
            font-size: 14px;
            font-family: Montserrat, bold;
            opacity: 0.35;
            color: #ffffff;

            a {
                color: #ffffff;
            }
        }
    }
}