
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Dhurjati);

body {
    font-family: Montserrat, bold;
    background-color: #18191A;
    overflow: hidden;
    color: #e0e2e4;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}